.card-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px auto ;
    justify-items: center;
    row-gap: 20px;
    background-color: rgb(21, 65, 104);
    color: white;
    margin-bottom: 100px;

}
body{
    background-color: rgb(21, 65, 104) ;
}
.Cards-title h2{
    text-align: center;
    margin-top: 20px;
    color: white;
}.cards img{
    width: 400px;
    border-radius:5px ;
    cursor: pointer;
}

.cards img:hover{
    width: 401px;
    border-radius:5px ;
    cursor: pointer;
}